<div id="blenderBox">
  <h1>Enter your name into the mix:</h1>
  <form action="/Secret_Santa" method="post">
    <label for="person">Enter your name: </label>
    <input id="person" type="text" name="person"/>
    <h1></h1>
    <label for="phone">Enter your cell number: </label>
    <input id="phone" type="text" name="phone"/></input>
    <h1></h1>
    <input type="submit"/>
  </form>
  <h5>Here's the deal: You enter your name and phone number here.
    Once everyone has entered their deets, I'll mix them up and
    send you two texts. One now and one again in November, telling
    you who's name you drew for this edition of Secret Santa.</h5>
</div>
